* {
  list-style: none;
  text-decoration: none;
}

@font-face {
  font-family: "Inter";
  src: url(../../../../assets/fonts/Inter/Inter-Regular.ttf);
}

body {
  font-family: "Inter", sans-serif;
}

nav {
  background: white;
  width: 100%;
  border-bottom-style: solid;
  border-color: #424242;
  border-width: 1px;
  padding-top: 28px;
  padding-bottom: 28px;
}

.brand {
  color: black;
  font-size: 16px;
  font-weight: 500;
  margin-right: 80px;
}

nav div a {
  color: #667085;
  font-size: 16px;
  font-weight: 500;
}

.logo {
  height: 32px;
  width: 32px;
  margin-left: 112px;
  margin-right: 9px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
