* {
  list-style: none;
  text-decoration: none;
}

nav {
  background: white;
  width: 100%;
  border-bottom-style: solid;
  border-color: #d0d5dd;
  border-width: 1px;
  padding-top: 28px;
  padding-bottom: 28px;
}

.brand {
  color: black;
  font-size: 16px;
  margin-right: 80px;
}

nav div a {
  color: #667085;
  font-size: 16px;
}

.logo {
  height: 32px;
  width: 32px;
  margin-left: 112px;
  margin-right: 9px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerLinks {
  margin-right: 130px;
}

.headerLinks img {
  width: 24px;
  height: 24px;
  display: flex;
}

.headerItem {
  margin-left: 20px;
}

.headerLinks input {
  width: 312px;
  height: 25px;
  border: 0.5px solid #d0d5dd;
  border-radius: 8px;
  padding: 7px;
  color: #999999;
  font-weight: 500;
  font-size: 17px;
}

form {
  display: inline;
}
