<nav class="flex-container">
  <div class="flex-container">
    <img src="../../../../assets/logo.png" alt="logo" class="logo" />
    <label class="brand">ClickTik</label>
    <a routerLink="/products">Home</a>
  </div>
  <div class="headerLinks">
    <div class="flex-container">
      <form
        #searchForm="ngForm"
        (ngSubmit)="onSubmit(searchForm)"
        class="headerItem"
      >
        <input
          *ngIf="isAuthenticated"
          type="text"
          placeholder="Search"
          name="search"
          ngModel
          required
        />
      </form>
      <div *ngIf="isAuthenticated" class="relative-container">
        <img class="headerItem" src="../../../../assets/Cart.png" />
        <div class="cart-items">{{ cartItems }}</div>
      </div>
      <a *ngIf="isAuthenticated" class="headerItem" (click)="logout()"
        >Account</a
      >

      <a *ngIf="!isAuthenticated" class="headerItem" routerLink="/login"
        >Login</a
      >
    </div>
  </div>
</nav>
