<!-- for some reason there is a 8px margin -->
<nav>
  <span class="logo"></span>
  <label class="brand">ClickTik</label>
  <div>
    <ul>
      <li class="navItem-Left">
        <a href="#">Home</a>
      </li>
      <!-- align to the right -->
      <li class="navItem-Right">
        <a href="#">Login</a>
      </li>
      <!-- <li class="navItemRight">
          <a href="#">Search</a>
        </li>
        <li class="navItemRight">
          <a href="#">Cart</a>
        </li>
        <li class="navItemRight">
          <a href="#">Account</a>
        </li> -->
    </ul>
  </div>
</nav>
