<p class="header">Header 1</p>
<p class="path">Home / Products / Route / Route</p>
<div class="row">
  <div class="filterColumn">
    <div class="filter">
      <p class="filterTitle">Products</p>
      <div class="radioGroup">
        <input type="radio" name="product" value="All" />
        <label>All()</label><br />
        <div *ngFor="let category of productCategories">
          <input type="radio" name="product" [value]="category" />
          <label>{{ category }}()</label><br />
        </div>
      </div>
    </div>
  </div>
  <div class="productColumn">
    <div class="row">
      <div *ngFor="let product of products" class="column">
        <div class="card">
          <div class="discount">{{ -product.discountPercentage }}%</div>
          <img
            src="../../../assets/product_thumbnail.png"
            alt="thumbnail"
            class="thumbnail"
          />
          <div class="cardContainer">
            <p class="cardTitle">{{ product.title }}</p>
            <p class="cardDescription">{{ product.description }}</p>
            <div style="margin-bottom: 21px">
              <span class="cardText1"
                ><s>{{ product.price }}</s></span
              >
              <span style="margin-right: 14px" class="cardText2"
                ><s> USD</s>
              </span>
              <span class="cardText1">{{
                (
                  product.price *
                  (1 - product.discountPercentage / 100)
                ).toFixed(2)
              }}</span>
              <span class="cardText2"> USD</span>
            </div>
            <div class="cardDetails">
              <span class="cardText2">Brand: </span>
              <span class="cardText3">{{ product.brand }}</span>
            </div>
            <div class="cardDetails">
              <span class="cardText2">Category: </span>
              <span class="cardText3">{{ product.category }}</span>
            </div>
            <div class="cardDetails">
              <span class="cardText2">In Stock: </span>
              <span class="cardText3">{{ product.stock }}</span>
            </div>

            <div class="ratingReviewContainer">
              <span class="cardRating">{{ product.rating }}</span>
              <span class="cardReview"> (11)</span>
            </div>
            <button class="cardBtn">ADD TO CART</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="pagination">
  <a><</a>
  <a>1</a>
  <a>2</a>
  <a>3</a>
  <a>4</a>
  <a>5</a>
  <a>6</a>
  <a>></a>
</div> -->
