<div class="container">
  <div>
    <img class="logo" src="../../../assets/logo.png" alt="logo" />
  </div>
  <div>
    <p class="header1">Log in to your account</p>
    <p class="header2">Welcome back! Please enter your details.</p>
  </div>
  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
    <div>
      <label style="text-align: left">Email</label>
    </div>
    <input
      placeholder="Enter your email"
      id="email"
      name="email"
      ngModel
      required
    />
    <div>
      <label>Password</label>
    </div>
    <input
      type="password"
      placeholder="••••••••"
      id="passowrd"
      name="password"
      ngModel
      required
    />
    <div>
      <button class="btn-primary" type="submit">Sign in</button>
    </div>
  </form>
</div>
